<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">

  <Section Name="Telemetry">
    <Parameter Name="InstrumentationKey" Value="##PUT_VALUE_HERE##" />
    <Parameter Name="DisableTelemetry" Value="false" />
  </Section>

  <Section Name="Retries">
    <Parameter Name="Attempts" Value="3" />
  </Section>
  
</Settings>
